<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="header-painel-medico">
            <h2>Painel de Agendamento</h2>
            <div>
                <button type="button" class="btn btn-primary">Definir</button>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data/Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maria</td>
                        <td>Maria</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  